---
language: go
go:
- 1.3.1
env:
  global:
  - PATH=$HOME/gopath/bin:$HOME/bin:$PATH
  - DATABASE_URL=postgres://postgres@localhost:5432/travis
  - ARTIFACTS_BUCKET=meatballhat
addons:
  postgresql: '9.3'
before_install:
- go get github.com/tools/godep
- godep go install code.google.com/p/go.tools/cmd/cover
- godep go install -a -race std
before_script:
- createdb -U postgres travis
script:
- make
- artifacts-service migrate
- ./bin/integration-test file
- ./bin/integration-test s3
deploy:
  provider: heroku
  buildpack: https://github.com/kr/heroku-buildpack-go.git
  api_key:
    secure: J2aEVgqBIdusX0Q2XmEI9lE/lcGdeHZluEdXJfenKD5fO4DTfWNvOT0yv0n3UyPsBiVbcluzvJHCZuEie0bIHWlIxaZ4hGVp+fitl5n47OhG6mexOXAJECxRero6STUca1NrNjEobVa0HkyNZaMyVcQpi9/nad1BIcZww5kX8ck=
  app: meatballhat-artifacts-service
  on:
    repo: hamfist/artifacts-service
